@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root{
  --padding-container: 100px 0;
  background-color: #ffffff;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  padding: var(--padding-container);

}

.hero{
width: 100%;


max-height: 1400px;
position: relative;

color: rgb(241, 246, 245);


}

img{
  width: 100%;
  
}

.hero::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #ffffff;
border: #000000;

z-index: -1;

}

/* Nav */
.nav__title{
font-size: 25px;
font-family: sans-serif;
color: #000000;


}
@media (max-width:650px){
.nav__title{
  font-size: 20px;
  font-family: sans-serif;
  
}
.nav__title img{
  margin-left: 140px;
 } 
 }    

.nav{
--padding-container:0;
height: 100%;
display: flex;


}
.aviso{
  width: 100%;
}

.nav__link{
margin-left: auto;
padding: 39px;
display: grid;
grid-auto-flow: column;
grid-auto-columns: max-content;
gap: 2em;
color: #000000;
}

.nav__items{
list-style: none;
border: #000000;
}
@media (max-width:650px){
.nav__items{
  
  font-family: sans-serif;

  list-style: circle;
  
}
 }
 img{
  width: 100%;
 }

.nav__links{
color: #000000;
text-decoration: none;
font-size: 20px;
font-family: sans-serif;

}
@media (max-width:650px){
.nav__links{
  
  font-family: sans-serif;

  color: #fff;
  font-size: 28px;
  line-height: 1.14;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0.007em;
  
}
 }    
.nav__menu{

cursor: pointer;
display: none;
}
.nav__img{
display: block;
width: 60px;
}
.nav__close{
display: var(--show, none);
}
/* hero container */
.hero__container{
max-width: 1400px;
--padding-container:0;
display: grid;
grid-auto-rows: max-content;
align-content: center;
gap: 1em;
padding-bottom: 100px;
text-align: center; 
color: #ffffff;
}

.hero__title{
font-size: 3rem;
text-align: center;
color: #ffffff;
 
}
.hero_paragraph{
margin-bottom: 20px;
text-align: left;
color: #000000;
}
.cta{
display: inline-block;
background-color: #ffffff;
justify-self: center;
color: #000000;
text-decoration: none;
padding: 13px 30px;
border-radius: 15px;
align-items: flex-start;
}

/* about*/
.about{
text-align: center;
color: #ffffff;
}
.subtitle{
color: var(--color-tittlecolor);
font-size: 2rem;
margin-bottom: 25px;


}
.about__paragraph{
line-height: 1.7;
}
.about__main{
padding-top: 80px;
display: grid;
width: 90%;
margin: 0 auto;
gap: 1em;
overflow: hidden;
grid-template-columns: repeat(auto-fit, minmax(260px,auto));

}

.about__icons{
display: grid;
gap: 1em;
justify-items: center;
width: 260px;
overflow: hidden;
margin: 0 auto;
}
.about__icon{
width: 60px;

}



/* knowledge */
.know-ledge{
background-color: #ffdd00;
background-position: 0 0,10px 10px;
overflow: hidden;
border-radius: 20px;
color: #000000;
}

.knowledge__img{
border-radius: 20px;
}

.knowledge__container{
display: grid;
gap: 1em;
align-items: center;

}
.knowledge__picture{
max-width: 500px;

}
.knowledge__paragraph{
line-height: 1.7;
margin-bottom: 15px;
text-align-last: center;
}
.knowledge__picture{
width: 100%;
display: block;

}
.knowledge__texts{
text-align: center;
}

@media screen and (max-width: 790px){
.knowledge__img {
  margin: 30px 100px 10px 1px;
   width: 250px;
 }
 .knowledge__img{
   grid-template-columns:  1fr;
   place-items: center;
 }
}

@media (max-width:650px){
.knowledge__container {
    display: block;
}
}


/* FONDO*/

body{
background-color: #ffffff;
width: 100%;
height: 100%; 

}


.hero__container{
background-color: rgb(184, 178, 178);


}


.container.about {
background-image: url("/IMAGES/earth1.jpg");
background-size: cover;
opacity: 1;

}


@media (max-width:480px){
body{
  
  display: block;
}
.hero__container{
  background-color: #ffffff;
  background-size: cover;

}
.container.about {
  background-color: #ffffff;
  background-size: cover;
}

}






@media (max-width:650px){
.testimony-body{
    display: block;
    
}
.testimony-container{
  display: block;
}
}


/* Footer */

.footer{
background: #000000;
}

.footer__title{
font-weight: 300;
font-size: 2rem;
margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
color: #fff;
}


.footer__container{
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #fff;
padding-bottom: 60px;
}

.nav--footer{
padding-bottom: 20px;
display: grid;
gap: 1em;
grid-auto-flow: row;
height: 100%;
}

.nav__link--footer{
display: flex;
margin: 0;
margin-right: 20px;
flex-wrap: wrap;
}

.footer__inputs{
margin-top: 10px;
display: flex;
overflow: hidden;
}

.footer__input{
background-color: #fff;
height: 50px;
display: block;
padding-left: 10px;
border-radius: 6px;
font-size: 1rem;
outline: none;
border: none;
margin-right: 16px;
}

.footer__submit{
margin-left: auto;
display: inline-block;
height: 50px;
padding: 0 20px ;
background-color: #2091F9;
border: none;
font-size: 1rem;
color: #fff;
border-radius: 6px;
cursor: pointer;
}

.footer__copy{
--padding-container: 30px 0;
text-align: center;
color: #fff;
}

.footer__copyright{
font-weight: 300;
}

.footer__icons{
margin-bottom: 10px;
}

.footer__img{
width: 30px;
}

.LOGOSIF{
display: flex;
border: 0 SOLID;
box-sizing: border-box;
line-height: 5em;

}




/* Media queries */

@media (max-width:480px){
.nav__menu{
    display: block;
    background: #fff;
    
}

.nav__link--menu{
    position: fixed;
    background-color: #000000;
    color: #000000;
    
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .9s opacity;
    border-radius: 2%;
}

.nav__link--show{
    --show: block;
    opacity:1 ;
    pointer-events: unset;
}

.nav__close{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 70px;
    cursor: pointer;
}
.nav__links{
  color: #ffffff;
}

.hero__title{
    font-size: 2.5rem;
}


.about__main{
    gap: 2em;
}

.about__icons:last-of-type{
    grid-column: 1/-1;
}


.knowledge__container{
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 3em;
    text-align: center;
}

.knowledge__picture{
    grid-row: 1/2;
    justify-self: center;
}

.testimony__container{
    grid-template-columns: 30px 1fr 30px;
}

.testimony__body{
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    gap: 3em;
    justify-items:center ;
}


.testimony__img{
    width: 200px;
    height: 200px;
    
}

.questions__copy{
    width: 100%;
}

.footer__container{
    flex-wrap: wrap;
}

.nav--footer{
    width: 100%;
    justify-items: center;
}

.nav__link--footer{
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
}

.footer__form{
    width: 100%;
    justify-content: space-evenly;
}

.footer__input{
    flex: 1;
}

}

@media (max-width:650px){
  .testimony-body{
      display: block;
  
    
      
      
  }
  .testimony-container{
    display: block;
  }
  
  .boton{
    text-align: center;
  }
  
  .atoms{
    justify-content: center;
    align-items: center;
    margin-left: 65px;

  
  }
  .reseña{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
  }
  .empresa{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    line-height: 6;

  
  }
  }
  
  
  
  
  .btn {
    background-color: #000000;
    color: #000000;
    
    margin-left: 21%;
    border: 1px solid #ffffff;
    border-radius: 35px;
    padding: 12px 33px;
    cursor: pointer;
  }

  img{
    width: 65%;
  

  }