*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
    background-image: url("/IMAGES/FONDO2.4.png");
}


#aboutUS {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  #aboutUS img{
    width: 400px;
    margin: 20px;
    border-radius: 15px;
  
  }
  .DEP-contenido {
    margin: 20px 0;
  }
  .DEP-contenido h2 {
    font-size: 50px;
    color: #00f2ff;
  
  }
  .DEP-contenido h4 {
    font-size: 20px;
    color:#000000;
    text-align: center;
    background-color: #00000048;
   
    
    margin: 20px 0;
  }
  .DEP-contenido h5 {
    color: #ffff00;
    background-color: #0000005d;
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
  }
  @media screen and (max-width: 790px){
   #aboutUS img {
      width: 80%;
    }
    #aboutUS{
      grid-template-columns:  1fr;
      place-items: center;
    }
  }
  .btk{
    font-weight: bold;
    border: 2px solid#ffffff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.4s;
    background-color: #ffffff;
    color: blue;
  }
  .btk :hover{
    border: 2px solid #ffffff;
    background: transparent;
    color: #ffffff;
  }