*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  
}




#aboutUS {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#aboutUS img{
  width: 400px;
  margin: 20px;
  border-radius: 10px;

}
.DEP-contenido {
  margin: 20px 0;
}
.DEP-contenido h2 {
  font-size: 45px;
  color: #000000;
  text-align: start;

}
.DEP-contenido h4 {
  font-size: 18px;
  color:#000000;
  text-align: start;
  
  line-height: 2.0rem;
 font-family: sans-serif;
  
  margin: 20px 0;
}
.DEP-contenido h5 {
  color: #000000;
  
  text-align: start;
  line-height: 2.0rem;
  justify-content: left;
  
  margin: 20px 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 100;
}
@media screen and (max-width: 790px){
 #aboutUS img {
    width: 80%;
  }
  #aboutUS{
    grid-template-columns:  1fr;
    place-items: center;
  }
}
.btk{
  font-weight: bold;
  border: 2px solid#ffffff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 15px;
  transition: all 0.4s;
  background-color: #000000;
  color: rgb(255, 255, 255);
}
.btk :hover{
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
}


.accordion{
  max-width: 530px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: 0 15px;
  padding: 15px;

  border-radius: 8px;
  box-shadow: 0 0 4px rgb(0, 0,0,0.2 );

}
.accordion-content:nth-child(2){
  background-color: #ffffff;
  border-color: #000000;

}
.accordion-content:nth-child(3){
  background-color: #ffffff;
  border-color: #000000;

}
.accordion-content:nth-child(4){
  background-color: #cf9df3;
  border-color: #ff6565;

}

.btk{
  font-weight: bold;
  border: 2px solid#ffffff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 15px;
  transition: all 0.4s;
  background-color: #00000000;
  color: rgb(0, 26, 255);
}